.lead
  Contact me via email: jack at brownjohnf dot com.
.lead
  If you're interested in hiring me as a freelance contractor, please contact through
  %a{:href => 'http://www.fadidi.com'}> &nbsp;Fadidi Digital Media
  \.
