.lead
  Contact me via email via jack at brownjohnf dot com.
.lead
  If you're interested in hiring me as a freelance contractor, please contact through
  %a{:href => 'http://www.fadidi.com'} Fadidi
  \.
