:erb
  <div class="alert">
  <h1>Strengths</h1>
  </div>

  <ul>
    <li>Self-directed and -motivated Ruby and PHP developer.</li>
    <li>Experienced with building and managing websites including bespoke projects and e-commerce, and working with clients to deliver requested products.</li>
    <li>Works well as a participant, facilitator or leader of teams and groups.</li>
    <li>Has lived abroad (Middle East, West Africa), including three years with the US Peace Corps, and is comfortable working across cultural divides.</li>
    <li>Liberal arts degree, including study of classical languages and music, western thought, mathematics and sciences.</li>
    <li>Well-read, articulate individual capable of clear self-expression orally or in writing.</li>
    <li>Proponent of the open source movement; avoids proprietary software.</li>
  </ul>

  <div class="alert alert-success">
  <h1>Professional Experience</h1>
  </div>

  <h3>Founder & Lead Developer, <a href="http://www.fadidi.com">Fadidi Digital Media, LLC.</a><span class="float-right">10/ 2012 &#8211; Present</span></h3>
  <ul>
    <li>Web Development company specializing in developing custom Ruby/Rails solutions for Peace Corps posts worldwide</li>
    <li>Offers HostedPost, the managed DigitalPost solution developed by John Brown while at Peace Corps|Sénégal</li>
    <li>Primary Projects (see portfolio for technical information)
      <ul>
        <li>Mounce Endodontic Supply (store.mounceendo.com)
          <ul>
            <li>Worked with owner to survey e-commerce options and select one appropriate for the business</li>
            <li>Implemented an OpenCart installation in a shared hosting environment</li>
          </ul>
        </li>
        <li>Fadidi Website
          <ul>
            <li>Promotional website for Fadidi Digital Media
          </ul>
        </li>
      </ul>
    </li>
  </ul>
  <hr/>

  <h3>Developer & Designer, <a href="http://www.pcsenegal.org">Peace Corps | S&eacute;n&eacute;gal</a><span class="float-right">02/ 2010 &#8211; 10/ 2012</span></h3>
  <ul>
    <li>In the role of sole developer and designer, worked with staff and Volunteers at Peace Corps|Sénégal to develop project concepts, visualize initial design, prototype, test and release the DigitalPost web application.</li>
    <li>As technical consultant, worked with staff to find appropriate solutions to technical challenges.</li>
    <li>Worked with PHP/Apache/MySQL using XAMPP on a MacBook Pro</li>
    <li>Developed Rails apps using VirtualBox Debian/Ubuntu</li>
    <li>Ruby/Gem management using RVM</li>
    <li>Primary Projects:
    <ul>
      <li>DigitalPost
      <ul>
        <li>Manages Peace Corps post online presence/assets</li>
        <li>See portfolio for technical information</li>
      </ul></li>
      <li>Google Accounts/Apps Administration
      <ul>
        <li>Managed suite of Google resources, including permissions, curation, and technical configuration</li>
        <li>Unreleased Projects</li>
      </ul></li>
      <li>Local Language Dictionary
      <ul>
        <li>Simple wiktionary aimed at technically inexperienced native speakers of local languages in the developing world (https://github.com/brownjohnf/talktome)</li>
        <li>Ruby/Rails app</li>
        <li>Postgres-backed</li>
        <li>Omniauth/Devise/CanCan user authentication</li>
      </ul></li>
      <li>Google Public Data Explorer Volunteer reporting data
      <ul>
        <li>Experimented with the Dataset Publishing Language (DSPL) to display Peace Corps|Sénégal Volunteer reporting data</li>
      </ul></li>
      <li>Support ticket system
      <ul>
        <li>Ruby/Rails app designed for two-way 'support' tickets between Peace Corps Volunteers and staff.</li>
        <li>Enforces a 1-1 initiator/responder model to force transparency and accountability</li>
      </ul></li>
    </ul></li>
  </ul>
  <hr />

  <h3>Media Producer, <a href="http://www.pcsenegal.org">Peace Corps | S&eacute;n&eacute;gal</a><span class="float-right">02/ 2010 &#8211; 04/ 2012</span></h3>
  <ul>
    <li>Developed photos and videos for promotional and educational purposes, using Final Cut Pro and Adobe Photoshop</li>
  </ul>
  <hr />

  <h3>Agroforestry Extension Agent, <a href="http://www.pcsenegal.org">Peace Corps | S&eacute;n&eacute;gal</a><span class="float-right">08/ 2009 &#8211; 02/ 2010</span></h3>
  <hr/>

  <h3>Teacher & Touchstones Advisor, <a href="http://www.bhs.edu.lb/">Brummana High School</a>, Lebanon<span class="float-right">09/ 2008 &#8211; 03/2009</span></h3>
  <hr/>

  <h3>Rowing Coach, <a href="http://www.annapolisrowingclub.com/">Annapolis Rowing Club</a> &amp; <a href="http://sjca.edu">St. John's College</a><span class="float-right">08/ 2007 &#8211 05/ 2008</span></h3>

  <div class="alert alert-info">
  <h1>Education</h1>
  </div>

  <h3><a href="http://sjca.edu">Saint Johns College</a>, MD<span class="float-right">2008</span><br/>
  Bachelor of Arts, Liberal Arts</h3>
